<header>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <div class="nav-logo">

                        <img class="resize" src="https://i.imgur.com/Uvvw5SD.png" alt="logo">
                    </div>
                </a>
            </li>
        </ul>
        <ul>
            <% if (!isAuthenticated) { %>
            <li class="login">
                <a href="/login">Login</a>
            </li>
            <% } else { %>
            <li class="cart">
                <a href="/cart">
                    Cart
                </a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>