<!DOCTYPE html>
<html>

<head>
    <title>Apotheke - Cart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <%= products %>
    </main>
</body>

</html>