<!DOCTYPE html>
<html>

<head>
    <title>Apotheke - Cart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <% if (!products.length) { %>
        <p class="empty-cart">Your cart is empty</p>
        <% } %>
        <ul>
            <% products.forEach(product => { %>
            <li><%= product.name %></li>
            <li><%= product.description %></li>
            <li><%= product.price %></li>
            <% }) %>
        </ul>

    </main>
</body>

</html>